/* CSS design by @jofpin */
@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

body {
  background: #f4f4f4;
  overflow-x: hidden;
}

.title-pen {
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.title-pen span {
  color: #55acee;
}

.user-profile {
  /*margin-left: 10%;*/
  margin: auto;
  width: 25em;
  height: 11em;
  background: #fff;
  border-radius: 0.3em;
}

.user-profile .username {
  margin: auto;
  margin-top: 1em;

  margin-left: 5.8em;
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.user-profile .bio {
  position: absolute;

  margin: auto;
  display: inline-block;
  margin-left: 5em;
  color: #e76043;
  font-size: 0.87em;
  font-family: "varela round", sans-serif;
}
.user-profile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 14em;
  color: #c0c5c5;
  font-size: 0.87em;
  font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
  position: relative;
  float: left;
  padding: 0.7em;
  margin-left: 0.3em;
  margin-top: 0.3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}

.user-profile ul.data {
  margin: 2em auto;
  height: 3.7em;
  background: #4eb6b6;
  text-align: center;
  border-radius: 0 0 0.3em 0.3em;
}
.user-profile li {
  margin: 0 auto;
  padding: 1.3em;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user-profile span {
  font-family: "varela round", sans-serif;
  color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.user-profile span:hover {
  color: #daebea;
}

footer > h1 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "Coda", sans-serif;
  color: #343f3d;
  line-height: 6;
  font-size: 1.6em;
}
footer > h1 a {
  text-decoration: none;
  color: #ea4c89;
}
